EPITO_IMAGE=epito:server
EPITO_PULL_POLICY=build
EPITO_CONTAINER_NAME=epito
EPITO_POSTGRES_CONTAINER_NAME=epito-postgres
EPITO_REDIS_CONTAINER_NAME=epito-redis

EPITO_BIND_ADDRESS=0.0.0.0
EPITO_PORT=3000
EPITO_NETWORK=epito
EPITO_BACKEND_NETWORK=epito-backend-internal
EPITO_BASE_DOMAIN=epito.example.pl
EPITO_SUPERVISOR_EMAIL=owner@example.pl

EPITO_DATABASE_NAME=epito_prod
EPITO_POSTGRES_VOLUME=epito-postgres-data
EPITO_REDIS_VOLUME=epito-redis-data

EPITO_POSTGRES_ADMIN_PASSWORD_FILE=/opt/epito/secrets/postgres_admin_password
EPITO_DB_PASSWORD_FILE=/opt/epito/secrets/db_password
EPITO_REDIS_PASSWORD_FILE=/opt/epito/secrets/redis_password
EPITO_SUPERVISOR_PASSWORD_FILE=/opt/epito/secrets/supervisor_password
